<div class="row" id="main-page" style="display:none;">
    <div class="medium-12 columns">
        <h1 class="title-mini headerpagehome animate scaleY0">
            <a href="{{ path('zimzim_opinion_butchery_showbutchery', {'unik': entity.unik}) }}">
                {{ entity.name }}
            </a>
        </h1>
    </div>
    <div class="medium-10 columns">
        <p>{{ entity.text }}</p>
    </div>
    <div class="medium-2 columns">
        <p class="text-right">{{ entity.address.citypostcode.city }}</p>
        <p class="text-right">{{ entity.address.citypostcode.cp }}</p>
    </div>
</div>