{% extends '::base.html.twig' %}

{% block title %}
    {{ 'views.opinion.butchery.show.title'|trans({'%name%': entity.name}) }}
{% endblock title %}

{% block page %}
    <div class="row">
        <div class="medium-2 columns text-left">
            {% set indexcurrent = 1 %}
            {% block menupage %}
                <ul class="side-nav headerpagehome">
                    <li {% if indexcurrent == 1 %} class="active" {% endif %}>
                        <a href="{{ path('zimzim_opinion_butchery_displayname', {'unik': entity.unik}) }}">
                            {{ 'views.opinion.butchery.show.home'|trans }}
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li {% if indexcurrent == 2 %} class="active" {% endif %}>
                        <a href="{{ path('zimzim_opinion_butchery_showopinion', {'unik': entity.unik}) }}">
                            {{ 'views.opinion.butchery.show.opinion'|trans }}
                        </a>
                    </li>
                    <li {% if indexcurrent == 3 %} class="active" {% endif %}>
                        <a href="{{ path('zimzim_opinion_butchery_showsales', {'unik': entity.unik}) }}">
                            {{ 'views.opinion.butchery.show.sale'|trans }}
                        </a>
                    </li>
                </ul>
            {% endblock menupage %}
        </div>
        <div class="medium-10 columns text-center">
            {% block pagepage %}
                <div class="row">
                    <div class="medium-12 columns">
                        <h1 class="title-mini headerpagehome">
                            <a href="{{ path('zimzim_opinion_butchery_displayname', {'unik': entity.unik}) }}">
                                {{ entity.name }}
                            </a>
                        </h1>
                    </div>
                    <div class="medium-10 columns">
                        <p>{{ entity.text }}</p>
                    </div>
                    <div class="medium-2 columns">
                        <p class="text-right">{{ entity.address.citypostcode.city }}</p>

                        <p class="text-right">{{ entity.address.citypostcode.cp }}</p>
                    </div>
                </div>
            {% endblock pagepage %}
        </div>
    </div>
{% endblock %}
