{% extends '::base.html.twig' %}

{% block title %}
    {{ 'views.opinion.homepage.index.title'|trans }}
{% endblock title %}

{% block metadescription %}
    {{ 'views.opinion.homepage.index.description'|trans }}
{% endblock metadescription %}

{% block page %}
    <div class="row">
        <div class="small-12 columns text-center">
            <h1 class="title-mini">{{ 'views.opinion.homepage.index.title'|trans }}</h1>
            <h2 class="title-mini">{{ 'views.opinion.homepage.index.titlebis'|trans }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="small-6 columns">
            <h3 class="text-center title-mini">{{ 'views.opinion.homepage.index.h31'|trans }}</h3>
            <p>{{ 'views.opinion.homepage.index.p1'|trans }}</p>
        </div>
        <div class="small-6 columns">
            <h3 class="text-center title-mini">{{ 'views.opinion.homepage.index.h32'|trans }}</h3>
            <p>{{ 'views.opinion.homepage.index.p2'|trans }}</p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <p>{{ 'views.opinion.homepage.index.description'|trans }}</p>
        </div>
    </div>
{% endblock page %}