{% extends '::base.html.twig' %}

{% block title %}
    {{ 'views.opinion.homepage.index.title'|trans }}
{% endblock title %}

{% block metadescription %}
    {{ 'views.opinion.homepage.index.description'|trans }}
{% endblock metadescription %}

{% block page %}
    <div class="row">
        <div class="medium-12 columns text-center padding-top">
            <h1 class="title-mini headerpagehome">{{ 'views.opinion.homepage.index.title'|trans }}</h1>
            <h2 class="title-mini">{{ 'views.opinion.homepage.index.titlebis'|trans }}</h2>
        </div>
    </div>
    <div class="full-width  bg-vichi">
        <div class="row">
            <div class="medium-6 columns case-home text-center ">
                <h3 class="title-mini">{{ 'views.opinion.homepage.index.find'|trans }}</h3>
                <p class="case-home-p bold text-justify">{{ 'views.opinion.homepage.index.findp'|trans }}</p>
            </div>
            <div class="medium-6 columns case-home text-center ">
                <h3 class="title-mini">{{ 'views.opinion.homepage.index.share'|trans }}</h3>
                <p class="case-home-p bold text-justify">{{ 'views.opinion.homepage.index.sharep'|trans }}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-6 large-centered medium-9 medium-centered columns ">
            <p class="case-home">{{ 'views.opinion.homepage.index.description'|trans }}</p>
        </div>
    </div>

    {% include 'ZIMZIMBundlesAddressBundle:CityPostCode:form.html.twig' with {'form': form} %}

{% endblock page %}