{% extends '::base.html.twig' %}

{% block title %}
    {{ 'views.opinion.homepage.index.title'|trans }}
{% endblock title %}

{% block metadescription %}
    {{ 'views.opinion.homepage.index.description'|trans }}
{% endblock metadescription %}

{% block page %}
    <div class="row">
        <div class="small-12 columns text-center">
            <h1>{{ 'views.opinion.homepage.index.titlebis'|trans }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-6 columns">
            <h2 class="text-center">{{ 'views.opinion.homepage.index.h21'|trans }}</h2>
            <p>{{ 'views.opinion.homepage.index.p1'|trans }}</p>
        </div>
        <div class="small-6 columns">
            <h2 class="text-center">{{ 'views.opinion.homepage.index.h22'|trans }}</h2>
            <p>{{ 'views.opinion.homepage.index.p2'|trans }}</p>
        </div>
    </div>
{% endblock page %}