{% extends '::base.html.twig' %}

{% block title %}
    {{ 'zimzim_opinion_opinion.index.title'|trans }}
{% endblock title %}

{% block page %}
    <div class="row">
        <div class="small-12 large-12 columns">
            <h1 class="text-center title">Opinion list</h1>
        </div>
    </div>
            <div class="row">
            <div class="small-12 large-12 columns">
                <a class="tiny button" href="{{ path('zimzim_opinion_opinion_new') }}">
                    {{ 'button.create'|trans }}
                </a>
            </div>
        </div>
    
    {{ grid_search(grid) }}

    {{ grid(grid) }}

{% endblock %}
