{% extends '::base.html.twig' %}


{% if entities[0][0].city is defined %}
    {% set headertitle =  'views.address.citypostcode.show.title'|trans({'%city%': entities[0][0].city|lower }) %}
{% else %}
    {% set headertitle = 'views.address.citypostcode.show.noresulttitle'|trans %}
{% endif %}

{% block title %}
    {{ headertitle }}
{% endblock title %}

{% block page %}

    <div class="row">
        <div class="small-12 large-12 columns">
            <h1 class="text-center title headerpagehome">{{ headertitle }}</h1>
            <p class="text-center title">{{ 'views.address.citypostcode.show.ptitle'|trans }}<p>
        </div>
    </div>

    <div class="row">
        {% for entity in entities %}
            <div class="medium-6 columns text-center">
                <h4>{{ entity[0].city }} {{ entity[0].cp }}</h4>
            </div>
            <div class="medium-2 columns text-center">
                {% if entity.distance > 0 %}
                    <p class="case-home-p">{{ entity.distance }}{{ 'views.address.citypostcode.show.km'|trans }}</p>
                {% endif %}
            </div>
            {% if  entity[0].address|length != 0 %}
                <div class="medium-4 columns text-center">
                    <p class="case-home-p">{{ 'views.address.citypostcode.show.numberbutchery'|trans({'%number%': entity[0].address|length}) }}</p>
                </div>
                {% for address in entity[0].address %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock page %}