{% extends '::base.html.twig' %}


{% if entities[0].address.citypostcode.city is defined %}
    {% set headertitle =  'views.address.citypostcode.show.title'|trans({'%city%': entities[0].address.citypostcode.city|lower }) %}
{% else %}
    {% set headertitle = 'views.address.citypostcode.show.noresulttitle'|trans %}
{% endif %}

{% block title %}
    {{ headertitle }}
{% endblock title %}

{% block page %}

    <div class="row">
        <div class="small-12 large-12 columns">
            <h1 class="text-center title headerpagehome">{{ headertitle }}</h1>
            <p class="text-center title">{{ 'views.address.citypostcode.show.ptitle'|trans }}<p>
        </div>
    </div>
    <div class="row">
        {% for entity in entities %}
            <div class="medium-12 columns text-center">
                <h4><a href="{{ path('zimzim_opinion_butchery_displayname', {'unik': entity.unik})  }}">{{ entity.name }}</a></h4>
                {#
                <p class="text-left">
                    {{ 'views.address.citypostcode.show.meat'|trans }} {{ entity.typemeat.name }}
                    {{ 'views.address.citypostcode.show.butchery'|trans }} {{ entity.typebutchery.name }}
                </p>
                #}
            </div>
            <div class="medium-10 columns">
                <p>{{ entity.text }}</p>
            </div>
            <div class="medium-2 columns">
                <p class="text-right">{{ entity.address.citypostcode.city }}</p>
                <p class="text-right">{{ entity.address.citypostcode.cp }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock page %}